.grid_complement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid_complement div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.address_number{
    text-align: center;
    padding: 4rem 2rem;
}

.address_number h3{
    font-size: 4rem;
}

.map_img img{
    width: 99%;
    height: 99%;
}


@media screen and (max-width:768px){

    .grid_complement{
        grid-template-columns: auto;
    }

    .address_number h3{
        font-size: 2rem;
    }

    .map_img img{
        display: none;
    }
}


