.drinkSide{
    padding: 0rem 4rem;
}

.drinkDes{
    display: grid;
    justify-content: end;
    margin-top: 8rem;
    text-align: center;
}

.drinkDes p{
    text-align: end;
    max-width: 14.5rem;
}

.drink_title{
    font-size: 12rem;
    line-height: 12rem;
    text-align: start;
}

.dLetter{
    margin-top: 2rem;
    font-size: 4rem;
}

.noMargin {
    margin-top: 5rem;
}

@media screen and (max-width: 768px) {

    .drinkSide{
        padding: 0 2rem;
    }

    .drink_title{
        margin-top: 4rem;
        font-size: 4rem;
        line-height: 100%;
    }

    .dLetter{
        display: none;
    }

}

@media screen and (min-width: 768px) {
    .comDiv{
        display: 1px solid red;
    }
}
