.firstFood{
    display: grid;
    grid-template-columns: 1fr 26rem;
    padding: 0rem 4rem;
}

.headMenu{
    display: flex;
    justify-content: end;
    margin-right: 2rem;
    margin-top: 8rem;
}

.headMenu p{
    width: 18rem;
    text-align: end;
}

.secondFood{
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-size: 24rem 30rem;
    width: 110%;
}

.cLetter{
    text-align: end;
    margin-top: 3rem;
    font-size: 4rem;
}

.title_menu{
    margin-top: 8rem;
    font-size: 12rem;
    line-height: 12rem;
    text-align: start;
}

.grid_middle_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem;
}

.effect_triangle{
    background: linear-gradient(53deg, transparent 30%, black 30%, transparent 32%) repeat-x,
                linear-gradient(-53deg, transparent 30%, black 30%, transparent 32%) repeat-x;
    background-size: 80px 70px, 80px 70px;
    width: 90%;
    height: 5rem;
    animation: moveTriangle infinite 40s;
}

@keyframes moveTriangle {
    100% {
        background-position-x: 100%;
    }
}

#middle_content h3{
    font-size: 6rem;
}

#middle_content p{
    text-align: center;
}

.imageAnimation{
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center;
}

.imageAnimation:first-child{
    animation: upImage 10s infinite;
}

.imageAnimation:nth-child(3){
    animation: downImage 10s infinite;
}

.food_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0rem 4rem;
}

.food_list li{
    cursor: pointer;
    position: relative;
    margin-bottom: 4rem;
}

.food_list p{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 2 lines in description */
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 6rem;
}

.food_list img{
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
    opacity: 0;
}

.food_list img:hover{
    opacity: 1;
}

.food_list h4{
    font-size: 2rem;
    font-weight: 100;
}

.center_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes upImage {
    0% {background-position-y: center;}
    25% {background-position-y: 40%;}
    50% {background-position-y: center;}
    75% {background-position-y: 70%;}
    100% {background-position-y: center;}
}

@keyframes downImage {
    0% {background-position-y: center;}
    25% {background-position-y: 70%;}
    50% {background-position-y: center;}
    75% {background-position-y: 40%;}
    100% {background-position-y: center;}
}

@media screen and (max-width: 768px) {
    #middle_content h3{
        font-size: 3rem;
    }

    .title_menu{
        font-size: 3.5rem;
        margin-top: 1rem;
        line-height: 100%;
    }

    .firstFood, .grid_middle_content{
        grid-template-columns: auto;
        padding: 2rem;
    }

    .grid_middle_content div{
        display: flex;
        flex-direction: column;
        height: 10rem;
        justify-content: center;
    }

    .grid_middle_content{
        margin: 0rem;
        padding: 0;
        margin-bottom: 2rem;
    }

    .effect_triangle{
        background-size: 40px 35px, 40px 35px;
    }

    .secondFood{
        height: 31.5rem;
        margin: 1.5rem 0 0 0;
        padding: 0;
        width: 100%;
        background-repeat: no-repeat;
        background-position-y: 0px;
        background-size: cover;
        position: relative;
    }

    .imageAnimation{
        background-size: 5rem;
    }

    .cLetter{
        margin: 0;
        position: absolute;
        bottom: -40px;
        right: 0px;
    }

    .food_list{
        grid-template-columns: auto;
        margin: 2rem 0 2rem 2rem;
    }

    .food_list p{
        margin-top: 2rem;
    }

    .food_list h4{
        text-align: left;
    }

    .food_list img{
        display: none;
    }
}