*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ad_footer{
    display: flex;
    flex-direction: column;
    align-items: center /*Centra los elementos sin modificar el tamaño del elemento con display: flex*/;
    padding: 3em 0rem;
    margin: 3rem 0rem;
}

.ad_footer h3{
    font-size: 2.5rem;
}

.ad_footer .button_first{
    margin: 3rem 0rem 0rem 0rem;
}

.contact_box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.email_box{
    display: grid;
    grid-template-columns: 18rem 1fr; /*usar media query*/
    padding: 2rem 4rem;
    z-index: -1;
    gap: 3rem;
}

.h3_contain{
    justify-content: end;
    text-align: start;
}

#email{
    height: 4rem;
    position: relative;
}

.arrow{
    position: absolute;
    width: 3rem;
    height: 100%;
    right: 0;
    top: 0;
    background: url('../assets/arrow.png') no-repeat;
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
}

.email_box h3{
    font-family: 'apercuRegular';
    font-size: 1.35rem;
}

.email_box input{
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: none;
    height: 90%;
}

.email_box input:focus{
    outline: none;
}

input[type='email']{
    width: 100%;
    height: 100%;
    background: transparent;
}

.email_box input::placeholder{
    color: black;
    font-family: 'apercuRegular';
}

.gradient_y{
    background: linear-gradient(110deg, transparent 40%, rgb(143, 143, 143) 50%, transparent 0) repeat-x,
                linear-gradient(110deg, transparent 40%, rgb(143, 143, 143) 50%, transparent 0) repeat-x;
    background-size: 5px 14px, 5px 14px;
    background-position: 0 0, 0 100%;
}

.last_box{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    padding: 2rem 0 4rem 0;
}

.last_info *{
    margin-right: 5rem;
}

.site{
    text-align: end;
    text-decoration-line: line-through;   
}

.aEmailText{
    font-size: 0.85rem;
    font-family: 'apercuRegular';
    justify-content: center;
    height: 4rem;
    align-items: end;
    display: flex;
    background: url('../assets/mailbox.png') no-repeat;
    background-size: 2rem;
    background-position: center top;
}

@media screen and (max-width: 997px) {
    .email_box{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .ad_footer h3{
        font-size: 1.5rem;
    }

    .contact_box{
        grid-template-columns: auto;
        gap: 2rem;
        margin-bottom: 4rem;
    }

    .email_box{
        display: grid;
        grid-template-columns: auto;
        padding: 2rem 2rem;
        gap: 1rem;
        z-index: -1;
    }

    input[type='email']{
        width: 100%;
    }    

    .appears{
        display: none;
    }

    .last_box, .last_box p{
        font-size: 0.7rem;
    }

    .last_box p:first-child{
        grid-area: forth;
        text-align: end;
    }

    .last_box a:nth-child(2){
        grid-area: first;
        text-align: start;
    }

    .last_box a:nth-child(3){
        grid-area: second;
        text-align: end;
    }

    .last_box a:last-child{
        grid-area: third;
        text-align: start;
    }

    .last_box{
        grid-template-areas: 
        'first second'                   
        'third forth';
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

}


@media screen and (min-width: 768px) {
    .aEmailText{
        display: none;
    }

}