.category{
    font-size: 1.1rem;
    font-family: 'apercuRegular', sans-serif;
}

:where(.otherContent){
    align-content: center;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
}

.optionsMenu {
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    height: 100%;
    position: fixed;
    right: 0;
    border: 5px solid black;
    transition: 2s;
}

.uno, .dos, .tres{
    width: 100%;
}

.uno{
    grid-template-columns: 4rem auto 4rem 4rem;
}

.dos{
    grid-template-columns: 4rem 4rem auto 4rem;
}

.tres{
    grid-template-columns: 4rem 4rem 4rem auto;
}

.noSize{
   grid-template-columns: repeat(4, 5rem);
}


.cLogo{
    transform: scale(0.9);
    transition: 0.5s;
    margin: 4rem 0 0 0rem;
}

.eLogo{
    transition: 0.5s;
    margin: 4rem;
}

.otherContent:nth-child(2){
    background-color: #FFB400;
    /*transform: translateY(-100%);*/
}

.otherContent:nth-child(3){
    /*transform: translateY(-150%);*/
    background-color: #F64444;
}

.otherContent:nth-child(4){
    background-color: #5EA3EC;
    /*transform: translateY(-200%);*/
}

.otherContent:first-child{
    cursor:auto;
}

.remove{
    display: none;
}

.show{
    writing-mode: horizontal-tb;
    width: 90%;
    height: 100%;
    overflow: scroll;
}

.show::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


@media screen and (max-width: 768px) {
    .optionsMenu{
        display: none;
    }
}