
.mainBody-box{
    margin-bottom: 10rem;
    height: 41rem;
    padding: 0;
    padding-right: 1.8rem;
}

.cuadrado{
    /*---------------------------*/
    background-size: cover;
    height: 31vw;
}

.mainBody-box p{
    padding-top: 2rem;
}

 .cuadrado:first-child{
    background: url('../assets/img1.png');
    background-size: cover;

}


.mainBody-box:nth-child(2) .cuadrado{
    background: url('../assets/img2.jpg') no-repeat;
    background-size: cover;
}


.mainBody-box:nth-of-type(3) .cuadrado{
    background: url('../assets/img3.jpg') no-repeat;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .cuadrado{
        height: 45rem;
    }

    .mainBody-box p{
        padding-top: 0;
        margin: 1rem 0;
    }
    

    .mainBody-box{
        height: 100%;
        margin-bottom: 0;
        padding-right: 0;
    }
}
