
.mainStructure{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    opacity: 0;
    transition: 2s;
}

.mainStructure div img, .mainStructure div p{
    width: 100%;
}

.title-main{
   font-family: 'oggRegular', 'sans-serif';
   text-align: start;
   font-size: 6rem;
   width: 56%;
   padding: 1rem 0rem;
   margin-bottom: 5rem;
}


@media screen and (max-width: 768px){
    .mainStructure{
        grid-template-columns: 1fr;
    }

    .title-main{
        font-size: 3.5rem;
        width: 100%;
    }

}