.fixedMenu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}

.secondMG{
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    height: 31rem;
}

.secondMG p{
    margin: 2rem 0;
    font-size: 1rem;
}

#baChef{
    margin: 0 0;
}

.secondMG a{
    text-decoration: underline;
}

.sm-one{
    background: url('../assets/facebook.png') no-repeat;
    background-size: 2rem;
    background-position: center;
}

.sm-two{
    background: url('../assets/instagram.png') no-repeat;
    background-size: 2rem;
    background-position: center;
}

.socialMedia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 2rem 0;
}

.socialMedia div{
    height: 3.6rem;
    border: 1px solid black;
    cursor: pointer;
}

/************************************************++*/

.mediaGrid{
    display: flex;
    flex-direction: column;
    height: 85%;
    background-color: white;
    flex-wrap: wrap;
    justify-content: end;
}

.mediaGrid div{
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.initialState{
    width: 50%;
    height: 50%;
    opacity: 1;
    visibility: visible;
}

.mediaGrid div.borderColor{
  width: 100%;
  height: 100%;
   z-index: 10;
   font-size: 2rem;
}

.fixedMenu .mediaGrid div.noBorderColor{
    font-size: 0;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
    transition-duration: 2s;
}

.fixedMenu .mediaGrid div.borderColor{
    transition-delay: 0s;
    transition-duration: 2s;
}

.mediaGrid div:first-child{
    background-color: rgb(255, 255, 255);
    opacity: 0;
    transition-duration: 0.25s;
    transition-delay: 0.25s;
}

.mediaGrid div:first-child h4{
    transform: rotate(-40deg);
 }

.mediaGrid div:nth-child(2){
    background-color: #5EA3EC;
    opacity: 0;
    transition-duration: 0.25s;
    transition-delay: 0.75s;
}

.mediaGrid div:nth-child(2) h4{
    transform: rotate(-140deg);
 }

.mediaGrid div:nth-child(3){
    background-color: #F64444;
    opacity: 0;
    transition-duration: 0.25s;
    transition-delay: 0.5s;
}

.mediaGrid div:nth-child(3) h4{
    transform: rotate(40deg);
 }

.mediaGrid div:nth-child(4){
    background-color: #FFB400;
    opacity: 0;
    transition-duration: 0.25s;
    transition-delay: 1s;
}

.mediaGrid div:nth-child(4) h4{
    transform: rotate(140deg);
 }


.mediaGrid div.appearDiv{
    opacity: 1;
}

.showFood{
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: #5EA3EC;
    top: 0;
}

.containerMenus{
    height: 100%;
    height: 100%;
}


.noMenu{
    visibility: visible;
    opacity: 0;
    position: absolute;
    height: 0;
    overflow: hidden;
}

.newMenu{
    transition-delay: 2.3s;
    transition-duration: 1s;
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    text-align: center;
}

.containerMenus .newMenu:first-child{
    background-color: #5EA3EC;
}

.containerMenus .newMenu:nth-child(2){
    background-color: #F64444;
}

.containerMenus .newMenu:last-child{
    background-color: #FFB400;
}

@media screen and (min-width: 768px) {
    .mediaGrid, .noFood, .nuevoFood, .noMenu, .newMenu, .fixedMenu{
        display: none;
    }
}